<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Víctor Salles - Portifólio</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  </head>

  <body>

    <div class="scrollToTop-btn">
      <i class="fas fa-angle-up"></i>
    </div>

    <header>
      <a href="#" class="brand">Victor</a>
      <div class="menu-btn"></div>
      <div class="navigation">
       <a href="inicio.html">Início</a>
        <a href="sobre.html">Sobre</a>
        <a href="habilidades.html">Habilidades</a>
        <!--<a href="#services">Serviços</a>-->
        <a href="trabalhos.html">Trabalhos</a>
        <a href="contato.html">Contato</a>
      </div>
    </header>

   

    <section class="about" id="about">
      <div class="title reveal">
        <h2 class="section-title">Sobre Mim</h2>
      </div>
      <div class="content">
        <div class="column col-left reveal">
          <div class="img-card">
            <img src="../static/images/eu.jpg" alt="">
          </div>
        </div>
        <div class="column col-right reveal">
          <h2 class="content-title">Olá! Eu sou Victor Salles</h2>
          <p class="paragraph-text">Formado em Desenvolvimento de Sistemas, me vejo confortável em executar a criação de
            websites, com foco no atendimento ao cliente e na qualidade ao trabalhar para atender às expectativas e aos
            prazos apertados.<br><br>E com a conclusão do curso técnico de Formação Adobe, possuo larga experiência e
            domínio sobre o Photoshop, Illustrator e In-Design, excercendo a criação de marcas pessoais e projetos
            relacionados as tais.</p>
          <!--<a href="#" class="btn">See More</a>-->
        </div>
      </div>
    </section>

    <!--<section class="skills" id="skills">
      <div class="title reveal">
        <h2 class="section-title">Habilidades</h2>
      </div>
      <div class="content">
        <div class="column col-left reveal">
          <h2 class="content-title">Minhas Habilidades e Experiência</h2>
          <p>Como dito anteriormente, possuo habilidades tanto na parte do BackEnd (programação) quanto no FrontEnd
            (parte visual), que são
            minhas áreas de maior domínio e controle, tornando mais fácil o atendimento ás necessidades do cliente.</p>
          <a href="#about" class="btn">Sobre mim</a>
        </div>
        <div class="column col-right reveal">
          <div class="bar">
            <div class="info">
              <span>Adobe - Ps/IL/In</span>
              <span>80%</span>
            </div>
            <div class="line html"></div>
          </div>
          <div class="bar">
            <div class="info">
              <span>HTML/CSS</span>
              <span>78%</span>
            </div>
            <div class="line css"></div>
          </div>
          <div class="bar">
            <div class="info">
              <span>PHP/Javascript</span>
              <span>73%</span>
            </div>
            <div class="line javascript"></div>
          </div>

        </div>
      </div>
    </section>

    <section class="services" id="services">
      <div class="title reveal">
        <h2 class="section-title">Minhas Áreas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</p>
      </div>
      <div class="content">
        <div class="card reveal">
          <div class="service-icon">
            <i class="fas fa-palette"></i>
          </div>
          <div class="info">
            <h3>Web Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
        <div class="card reveal">
          <div class="service-icon">
            <i class="fas fa-file-code"></i>
          </div>
          <div class="info">
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
        <div class="card reveal">
          <div class="service-icon">
            <i class="fas fa-object-group"></i>
          </div>
          <div class="info">
            <h3>Motion Graphic Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="work" id="work">
      <div class="title reveal">
        <h2 class="section-title">Meus Trabalhos</h2>
      </div>
      <div class="content">
        <div class="card reveal">
          <div class="card-img">
            <img src="images/Template Banner ll.jpg" alt="">
          </div>
        </div>
        <div class="card reveal">
          <div class="card-img">
            <img src="images/Template Banner.jpg" alt="">
          </div>
        </div>
        <div class="card reveal">
          <div class="card-img">
            <img src="images/Lixo eletronico.jpg" alt="">
          </div>
        </div>
        <div class="card reveal">
          <div class="card-img">
            <img src="images/Template Banner lll.jpg" alt="">
          </div>
        </div>
        <div class="card reveal">
          <div class="card-img">
            <img src="images/Bih ll.jpg" alt="">
          </div>
        </div>
        <div class="card reveal">
          <div class="card-img">
            <img src="images/Banner Modular.jpg" alt="">
          </div>
        </div>
        <div class="title reveal">
          <a href="#" class="btn">See All</a>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="title reveal">
        <h2 class="section-title">Fale Comigo</h2>
      </div>
      <div class="content">
        <div class="row">
          <div class="card reveal">
            <div class="contact-icon">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="info">
              <h3>Endereço</h3>
              <span>SP, São José dos Campos, Novo Horionte</span>
            </div>
          </div>
          <div class="card reveal">
            <div class="contact-icon">
              <i class="fas fa-phone"></i>
            </div>
            <div class="info">
              <h3>Telefone</h3>
              <span>+55 12 98808-3815</span>
            </div>
          </div>
          <div class="card reveal">
            <div class="contact-icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="info">
              <h3>Meu Email</h3>
              <span>victorgamesbr091@gmail.com</span>
            </div>
          </div>
          <div class="card reveal">
            <div class="contact-icon">
              <i class="fas fa-globe"></i>
            </div>
            <div class="info">
              <h3>Website</h3>
              <span>mywebsite.com</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="contact-form reveal">
            <h3>Send Message</h3>
            <div class="input-box">
              <input type="text" name="" value="" placeholder="Name">
            </div>
            <div class="input-box">
              <input type="text" name="" value="" placeholder="Email">
            </div>
            <div class="input-box">
              <textarea name="name" rows="8" cols="80" placeholder="Message"></textarea>
            </div>
            <div class="input-box">
              <input type="submit" class="send-btn" name="" value="Send">
            </div>
          </div>
        </div> 
      </div>
    </section>-->

    <footer class="footer">
      <span class="footer-title">Victor Salles</span>
      <p>Copyright @2021 <a href="#"></a>. Todos os direitos reservados.</p>
    </footer>

    <script src="../static/script.js" charset="utf-8"></script>

  </body>

</html>